body {
background-image: url(https://jareddillard.com/assets/images/svg/topography.svg);
}

.toolbar__inner{
height: 60px;
}

li.btn__contrast{
display: none;
}

p.powered{
display: none;
}

.toolbar{
background-color: #ffffff;
box-shadow: 4px 4px 8px 0 rgb(0 0 0 / 5%);

}

div.page{
background-color: #fdfdfdb8;
box-shadow: 2px 8px 8px 8px rgb(0 0 0 / 10%);
padding: 1rem;
}

#site-navigation{
background-color: #f7f7f7;
}

.page__header{
margin: 0 0 1.3rem 0;
border-bottom: 3px solid rgb(77 84 244 /70%);
padding: 0 0 0.6rem 0;
}

.page__footer{
Border-top: 3px solid rgb(77 84 244 /70%)
}

.main-index h1 {
    border-bottom: 3px solid rgb(77 84 244 / 70%);
}

.main{
padding-left: 1rem;
padding-right: 1rem;
padding-top: 2rem;
}

footer.p{
Display:none
}
